<div class="col col-md-9">
  <br><br>

  <div class="container text-center">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it like it's hot!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>({{f.type}})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <br>
      <button class="btn btn-class" [disabled]="files.length===0" (click)="upload()"><i class="fa fa-upload fa-lg">&nbsp;Upload</i></button>
  </div>
</div>
