
<form [formGroup]="basicInfoForm">
    <div class="main-container">

    <div class="container">
        <div class="form-group">
        <label>Type:
        </label>
        <select name="type" class="form-control" id="type" formControlName="type">
            <option value="Planned">Planned work</option>
            <option value="Unplanned">Unplanned work</option>

          </select>
        </div >
        <div class="form-group">
          <label>Switching Plan</label>
          <select class="form-control" type="number" id="plan" name="plan" formControlName="plan">
            <option *ngFor="let item of workplans" [ngValue]="item.id">{{item.id}}</option>
          </select>
        </div>
      <div class="form-group">
        <label>Status</label>
        <select class="form-control"  name="status" type="text" formControlName="status">
          <option value="Drafted">Drafted</option>
          <option value="Canceled">Canceled</option>
          <option value="Executing">Executing</option>
          <option value="Complited">Complited</option>
        </select>
      </div>

      <div class="form-group">
        <label>Created by:
        </label>
        <input class="form-control" type="text" [value]="userCreated"  formControlName="createdByUser" readonly >
    </div>

        <div class="form-group">
            <label>Crew:</label>
            <select class="form-control" formControlName="crew" name="crew" id="crew">
              <option *ngFor="let item of crews" [ngValue]="item.name">{{item.name}}</option>
            </select>
        </div>

        <div class="form-group">
          <label>Details:
          </label>
          <input class="form-control" type="text" name="details" id="details" formControlName="details">
      </div>
        <div class="form-group">
          <label>Notes:
          </label>
          <input class="form-control" type="text"  name="notes" id="notes" formControlName="notes">
      </div>
        <div class="form-group">
            <label>Phone No:
            </label>
            <input class="form-control" type="text"  name="notes" id="notes" formControlName="phoneNum">
        </div>
        <div class="form-group">
          <label>Date Created:
          </label>
          <input class="form-control" [(ngModel)]="currentDate" [value]="currentDate" type="date" formControlName="dateCreated" readonly>
      </div>
        <br><br>
        <div class="form-group">
            <label></label>
            <button class="btn btn-class"  (click)="onSave()" type="button"> <!--type=button-->
              &nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    </div>
</form>
