<div class="container-fluid">
    <div class="row content">
      <div class="row">
        <h4 class="text-center">NEW SAFETYDOCUMENT</h4>
        <div class="col-md-4">
            <div class="list-group">
                <button  class="list-group-item" id="basicInfo" >Basic Information</button>
                <button  class="list-group-item" id="history">History of Changes</button>
                <button  class="list-group-item" id="equipment" >Equipment</button>
                <button class="list-group-item" id="multimedia">Multimedia Attachments</button>
                <button class="list-group-item" id="multimedia">CheckList</button>
            </div>
        </div>
        <div class="col-md-8">
            <app-basic-info-sd (pressedButton)="setButton($event)" [hidden]="pressedButton != 'BasicInfo'"></app-basic-info-sd>
            <app-history-sd (pressedButton)="setButton($event)"  [hidden]="pressedButton != 'History'" ></app-history-sd>
            <app-equipment-sd (pressedButton)="setButton($event)"  [hidden]="pressedButton != 'Equipment'"></app-equipment-sd>
            <app-multimedia-sd (pressedButton)="setButton($event)"  [hidden]="pressedButton != 'Multimedia' "></app-multimedia-sd>
            <app-checklist-sd [hidden]="pressedButton != 'CheckList' "></app-checklist-sd>
        </div>
      </div>
      <!--
      <div class="row">
        <hr>
        <button  class="btn btn-class ml-auto" routerLink="/workrequests">&nbsp;<i class="fa fa-times-circle" aria-hidden="true"></i></button>
        <button class="btn btn-class">&nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      </div> -->
    </div>
  </div>
