

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row mt-3">
                <div class="col-md-6">
                    <label>Cause</label>
                </div>
                <div class="col-md-6">
                    <select>
                        <option value="weather">Weather</option>
                        <option value="humanFactor">Human Factor</option>
                        <option value="failure">Failure</option>
                      </select>
                </div>
            </div>
            <div class="row  mt-3">
                <div class="col-md-6">
                    <label>Subcause</label>
                </div>
                <div class="col-md-6">
                    <select>
                        <option value="lightning">Lightning</option>
                        <option value="wind">Wind</option>
                        <option value="rain">Rain</option>
                      </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label>Construction type</label>
                </div>
                <div class="col-md-6">
                    <select>
                        <option value="underground">Underground</option>
                        <option value="ground">Ground</option>
                        <option value="none">None</option>
                      </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label>Material</label>
                </div>
                <div class="col-md-6">
                    <select>
                        <option value="metal">Metal</option>
                        <option value="plastic">Plastic</option>
                        <option value="copper">Copper</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
