<div [hidden]="new=='yes'" class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-class" (click)="OnNew()">New&nbsp;<i class="fa fa-plus"></i></button>
            <button class="btn btn-class float-right">Filter&nbsp;<i class="fa fa-filter"></i></button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <table id="callsTable" class="table table-hover"  mdbTableScroll [scrollX]='true' >
                <thead>
                    <tr>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="IncCalls" [sortBy]="headElements[0]">Call ID</th>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="IncCalls" [sortBy]="headElements[1]">Reason</th>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="IncCalls" [sortBy]="headElements[2]">Hazard</th>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="IncCalls" [sortBy]="headElements[3]">Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol *ngFor="let call of IncCalls | slice: (page - 1) * pageSize : page * pageSize ">
                        <td >{{call.id}}</td>
                        <td >{{call.reason}}</td>
                        <td>{{call.hazard}}</td>
                        <td >{{call.comment}}</td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
<app-incident [hidden]="new=='no'"></app-incident>

