<div [hidden]="new=='yes'" class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-class" (click)="OnNew()">New&nbsp;<i class="fa fa-plus"></i></button>
            <button class="btn btn-class float-right">Filter&nbsp;<i class="fa fa-filter"></i></button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Call ID</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Hazard</th>
                        <th scope="col">Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1551312</th>
                        <td>FFS_8912112</td>
                        <td>Breaker</td>
                        <td>40°44'30.22"N40°44'30.22"E</td> 
                    </tr>
                    <tr>
                        <th scope="row">121313234</th>
                        <td>BRR_8912112</td>
                        <td>Connector</td>
                        <td>42°41'28.22"N42°41'28.22"E</td>
                    </tr>
                    <tr>
                        <th scope="row">093891712</th>
                        <td>RRR_8912112</td>
                        <td>Breaker</td>
                        <td>39°33'21.12"N39°33'21.12"E</td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
<app-incident [hidden]="new=='no'"></app-incident>

