<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-class" (click)="open(content)">New&nbsp;<i class="fa fa-plus"></i></button>
            <button class="btn btn-class float-right">Filter&nbsp;<i class="fa fa-filter"></i></button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <table id="callsTable" class="table table-hover"  maxWidth="500" mdbTableScroll [scrollX]='true' >
                <thead>
                    <tr>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="callsService.incidentList" [sortBy]="headElements[0]">Call ID</th>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="callsService.incidentList" [sortBy]="headElements[1]">Reason</th>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="callsService.incidentList" [sortBy]="headElements[2]">Hazard</th>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="callsService.incidentList" [sortBy]="headElements[3]">Comment</th>
                        <th scope="col" aria-controls="callsTable" [mdbTableSort]="callsService.incidentList" [sortBy]="headElements[4]">Address</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol *ngFor="let call of callsService.incidentList | slice: (page - 1) * pageSize : page * pageSize ">
                        <td >{{call.id}}</td>
                        <td >{{call.reason}}</td>
                        <td>{{call.hazard}}</td>
                        <td >{{call.comment}}</td>
                        <td >{{call.address}}</td>
                        <td *ngIf='incidentService.incident.call.length===0'>
                          <button class="btn btn-danger btn-sm" style="background-color: #1D69AB;" (click)="onChange(call)">ADD</button>
                        </td>
                        <td *ngIf='incidentService.incident.call.length!==0'>
                          <button *ngIf="!find(call)" class="btn btn-danger btn-sm" style="background-color: #6a8ba8;" (click)="onChange(call)">ADD</button>
                          <i *ngIf="find(call)" class="fa fa-check fa-lg"></i>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                      <ngb-pagination
                      [(page)]="page"
                      [pageSize] = "pageSize"
                      [collectionSize]="callsService.incidentList.length"
                    ></ngb-pagination>
                    </tfoot>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 style="color: #1D69AB;font-family: Arial, Helvetica, sans-serif;" class="modal-title" id="modal-basic-title">Report Outage</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="reportForm" (ngSubmit)="report()">
      <div class="row">
          <div class="form-group">
              <label>Reason</label>
              <select class="form-control" name="reason"  formControlName="reason" id="reason"  required>
                  <option value="No electricity">No Electricity</option>
                  <option value="Malfunction">Malfunction</option>
                  <option value="Flickering lights">Flickering lights</option>
                  <option value="Electricity return">Electricity return</option>
                  <option value="Partial current">Partial current</option>
                  <option value="Voltage problems">Voltage problems</option>
              </select>
          </div>
          <div class="form-group">
              <label>Comment</label>
              <input class="form-control" name="comment" formControlName="comment" id="comment" required>
          </div>
          <div class="form-group">
              <label>Hazard</label>
              <input class="form-control" name="hazard"  formControlName="hazard" id="hazard"  required>
          </div>
          <div class="form-group">
              <label>Address</label>
              <select class="form-control" name="address"  formControlName="address" id="address"  required>
                <option value="Jbc 20">Jbc 20</option>
                <option value="Bul osl 21">Bul osl 21</option>
                <option value="Rumenacka 219">Rumenacka 219</option>
                <option value="Strazilovksa 15">Strazilovksa 15</option>
                <option value="Kralja Petra 182">Kralja Petra 182</option>
                <option value="Kisacka 88">Kisacka 88</option>
              </select>
             <!-- <select (change)="addressChange()" class="form-control" name="address" #address="ngModel" [(ngModel)] = "callService.formData.address">
                  <option *ngFor="let item of settings.streets" [ngValue]="item.name">{{item.name}}</option>
              </select>-->
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" type="submit">Report</button>
      </div>
    </form>

  </div>

</ng-template>

