
<form [formGroup]="basicInfoForm">
    <div class="main-container">
    
    <div class="container">
        <div class="form-group">
        <label>Type:
        </label>
        <select name="types" id="types" class="form-control" formControlName="type">
            <option value="planiraniRad">Planned work</option>
            <option value="neplaniraniRad">Unplanned work</option>
            
          </select>
        </div >
        <div class="form-group">
        <label>Status:
            
        </label>
        <span class="span-bold">Draft</span>
        </div>
      <div class="form-group">
         
              <label> Incident:  </label>
              <input class="form-control" type="text" formControlName="incident">
         
      </div>
      
        <div class="form-group">
            <label>Street: 
            </label>
            <input class="form-control" type="text" formControlName="street">
        </div>
        <div class="form-group">
          <label>Start date: 
          </label>
          <input class="form-control" type="date" formControlName="startDate">
      </div>
      <div class="form-group">
        <label>End date: 
        </label>
        <input class="form-control" type="date" formControlName="endDate">
    </div>
        <div class="form-group">
            <label>Created by:
            </label>
            <input class="form-control" type="text" [value]="userCreated"  formControlName="createdByUser" readonly >
        </div>
        <div class="form-group">
          <label>Purpose: 
          </label>
          <input class="form-control" type="text" formControlName="purpose">
      </div>
        <div class="form-group">
          <label>Notes:
          </label>
          <input class="form-control" type="text" formControlName="notes">
      </div>  
      <div class="form-group">
        <label>Company: 
        </label>
        <input class="form-control" type="text" formControlName="company">
    </div>
        <div class="form-group">
            <label>Phone No: 
            </label>
            <input class="form-control" type="text" formControlName="phoneNum">
        </div>
        <div class="form-group">
          <label>Date Created: 
          </label>
          <input class="form-control" [(ngModel)]="currentDate" [value]="currentDate" type="date" formControlName="dateCreated" readonly>
      </div>

        
       

        <br><br>
        <div class="form-group">
            <label></label>
            <button class="btn btn-dark" (click)="onSave()" type="button"> <!--type=button-->
               Save
            </button>
        </div>
    </div>

    </div>
</form>
