@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.table{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    background: white;
}

#filter{
    margin-left: 480px;
}

.btn-class{
    border-color:  #1D69AB;
    color:  #1D69AB; ;
    width: 10%;
}
.btn2-class{
    border-color:  #1D69AB;
    color:  #1D69AB; ;
    width: 100%;
}
.btn-class:hover{
    background-color: #1D69AB;
    color: white;
}

.allmine{
    margin-left: 100px;
}

#heding{
    text-align: center;
    font-size: xx-large;
    font-stretch: extra-expanded;
}

th:hover{
    cursor: pointer;
}
