@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.content{
    margin: 2%;
    background-color: #fff;
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    justify-content: center;
}

.table{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

#filter{
    margin-left: 480px;
}

.btn-class{
    border-color: #1D69AB;
    color: #1D69AB ;
    width: 10%;
}

.btn-class:hover{
    background-color: #1D69AB;
    color: #fff;
}

.allmine{
    margin-left: 100px;
}