<div class="container-fluid">
    <div class="row content">
        <div class="col">
            <h4 class="text-center text-uppercase">INCIDENTS</h4>
            <button class="btn btn-class" routerLink="/newincident">New</button>
            <span class="allmine">
                <button class="btn btn-class">All</button>
                <button class="btn btn-class">Mine</button>
            </span> 
            <button id="filter" class="btn btn-class">Filter</button> 
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Phone No.</th>
                    <th scope="col">Status</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">WR1</th>
                    <td>13 aug 2018</td>
                    <td>351-5661-21</td>
                    <td>Draft</td>
                    <td>Janka Cmelika 29b</td>
                </tr>
                <tr>
                    <th scope="row">WR2</th>
                    <td>13 aug 2018</td>
                    <td>351-5661-21</td>
                    <td>Submited</td>
                    <td>Joja Cmelika 29b</td>
                </tr>
                <tr>
                    <th scope="row">WR3</th>
                    <td>13 sep 2018</td>
                    <td>351-1123-21</td>
                    <td>Draft</td>
                    <td>Bobana Cmelika 29b</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
