<div class="container-fluid">
    <div class="row content">
        <div class="col">
            <h4 id="heding" class="">INCIDENTS</h4>
            <button class="btn btn-class" routerLink="/incidents/newincident">New&nbsp;<i class="fa fa-plus"></i></button>
            <span class="allmine">
                <button style="width: 10%;" class="btn btn-class">All</button>
                <button  style="width: 10%;" class="btn btn-class">Mine</button>
            </span>
            <button style="width: 10%;"  id="filter" class="btn btn-class">Filter&nbsp;<i class="fa fa-filter"></i></button>
            <table  id="incidentsTable"  mdbTableScroll [scrollX]='true' maxWidth="1000" class="table  table-hover">
                <thead>
                <tr>
                     <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[0]">Id&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[1]">Start Date&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[2]" >Phone No.&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[4]">Status&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[3]" >Address&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[5]" >Type&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[6]" >Priority&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[7]" >Confirmed&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[8]" >ETA&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[9]" >ATA&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[10]" >ETR&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[11]" >Affected Customers&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[12]" >No. Of Calls&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[13]" >Voltage&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
                </thead>
             <tbody>
                <tr mdbTableCol *ngFor="let incident of incidents | slice: (page - 1) * 5 : page * 5 ">
                    <td >{{incident.id}}</td>
                    <td >{{incident.startDate}}</td>
                    <td >{{incident.phoneNo}}</td>
                    <td>{{incident.status}}</td>
                    <td >{{incident.address}}</td>
                    <td>{{incident.type}}</td>
                    <td >{{incident.priority}}</td>
                    <td >{{incident.confirmed}}</td>
                    <td>{{incident.eta}}</td>
                    <td >{{incident.ata}}</td>
                    <td>{{incident.etr}}</td>
                    <td >{{incident.affectedCustomers}}</td>
                    <td >{{incident.callsNum}}</td>
                    <td >{{incident.voltage}}</td>
                </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>

        </div>

        </div>
    </div>

