<div class="container-fluid">
    <div class="row content">
        <div class="col">
            <h4 id="heding" class="">INCIDENTS</h4>
            <button class="btn btn-class" routerLink="/incidents/newincident">New&nbsp;<i class="fa fa-plus"></i></button>
            <span class="allmine">
                <button style="width: 10%;" class="btn btn-class">All</button>
                <button  style="width: 10%;" class="btn btn-class">Mine</button>
            </span> 
            <button style="width: 10%;"  id="filter" class="btn btn-class">Filter&nbsp;<i class="fa fa-filter"></i></button> 
            <table #tableEl="mdbTable" id="incidentsTable" mdbTable class="table  table-hover">
                <thead>
                <tr>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[0]">Id&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[1]">Start Date&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[2]" >Phone No.&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[4]">Status&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="incidentsTable" [mdbTableSort]="incidents" [sortBy]="headElements[3]" >Address&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor='let incident of incidents; let i = index'>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{incident.id}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{incident.startDate | date}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{incident.phoneNo}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{incident.status}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{incident.address}}</td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="incidents"></mdb-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
