<div class="container-fluid">
  <div class="row content">
    <div class="col">
      <div class="row">
        <input placeholder="Id" class="form-control col-md-2" type="text">
        <input placeholder="Type" type="text" class="form-control col-md-2">
        <input  placeholder="Name" type="text" class="form-control col-md-2">
        <input  placeholder="Address" type="text" class="form-control col-md-2">
        <button  class="btn btn-class col-md-1">Search</button>
        <button  class="btn btn-class col-md-1">Reload</button>
      </div>
      <div class="row">
        <button class="btn btn-class col-md-1">New</button>
      </div>
      <div class="row">
        <div class="row mt-2">
          <div class="col-md-12">
              <table id="devicesTable" class="table table-hover" maxWidth="1000" mdbTableScroll [scrollX]='true' >
                  <thead>
                      <tr>
                          <th scope="col" aria-controls="devicesTable" [mdbTableSort]="IncEles" [sortBy]="headElements[0]">Id</th>
                          <th scope="col" aria-controls="devicesTable" [mdbTableSort]="IncEles" [sortBy]="headElements[1]">Type</th>
                          <th scope="col" aria-controls="devicesTable" [mdbTableSort]="IncEles" [sortBy]="headElements[2]">Name</th>
                          <th scope="col" aria-controls="devicesTable" [mdbTableSort]="IncEles" [sortBy]="headElements[3]">Address</th>
                          <th scope="col" aria-controls="devicesTable" [mdbTableSort]="IncEles" [sortBy]="headElements[4]">X</th>
                          <th scope="col" aria-controls="devicesTable" [mdbTableSort]="IncEles" [sortBy]="headElements[5]">Y</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr mdbTableCol *ngFor="let elem of IncEles | slice: (page - 1) * pageSize : page * pageSize ">
                          <td >{{elem.id}}</td>
                          <td >{{elem.type}}</td>
                          <td>{{elem.name}}</td>
                          <td >{{elem.address}}</td>
                          <td >{{elem.coordinateX}}</td>
                          <td >{{elem.coordinateY}}</td>
                      </tr>
                      </tbody>
                      <tfoot>
                        <ngb-pagination
                        [(page)]="page"
                        [pageSize] = "pageSize"
                        [collectionSize]="IncEles.length"
                      ></ngb-pagination>
                      </tfoot>
              </table>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
