<div class="container-fluid">
    <div class="row content">
       <div  class="col-md-6 col1">
          <div>
           <img src="https://i.imgur.com/hE96XUs.png" alt="image">
            <h4 class="h4 text-center">We light up the future!</h4>
            <button class="btn btn-class btn-lg" (click)="open(content)">Report Outage&nbsp;<i class="fa fa-phone"></i></button>
          </div>
       </div>
       <div class="col-md-6">
          <h3 class="signin-text mb-3" style="color: black;">Sign in</h3>
          <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="form-group">
                  <label for="email" style="color: black;">Email</label>
                  <input type="email" name="email" id="email" class="form-control" autofocus ngModel required placeholder="Enter a valid email">
              </div>
              <div class="form-group">
                  <label for="passowrd" style="color: black;">Password</label>
                  <input type="password" name="password" id="password" ngModel class="form-control" placeholder="Enter password" required>
              </div>
              <div *ngIf="userService.invalidLogin && num!=1" class="alert alert-danger">Invalid email or password.</div>
              <div class="row mb-4 px-3"> <small class="font-weight-bold" style="color: black;">Don't have an account? <a class="text-danger" [routerLink]="['/register']" routerLinkActive="router-link-active">Register.</a></small> <small class="font-weight-bold"><a class="text-danger" href="#">Forgot your password?</a></small> </div>
              <div class="row m4-4 px-3">
                <button [disabled]="!loginForm.valid" class="btn btn-class" type="submit">Login</button>
              </div>
            </form>
              <div class="socials row mb-4  px-3">
                <a href="#" class="col fa fa-facebook"></a>
                <a href="#" class="col fa fa-twitter"></a>
              </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 style="color: #1D69AB;font-family: Arial, Helvetica, sans-serif;" class="modal-title" id="modal-basic-title">Report Outage</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form = "ngForm" (ngSubmit)="login(form)">
      <div class="row">
          <div class="form-group">
              <label>Reason</label>
              <select class="form-control" name="reason"   required>
                  <option value="No electricity">No Electricity</option>
                  <option value="Malfunction">Malfunction</option>
                  <option value="Flickering lights">Flickering lights</option>
                  <option value="Electricity return">Electricity return</option>
                  <option value="Partial current">Partial current</option>
                  <option value="Voltage problems">Voltage problems</option>
              </select>
          </div>
          <div class="form-group">
              <label>Comment</label>
              <input class="form-control" name="comment" required>
          </div>
          <div class="form-group">
              <label>Hazard</label>
              <input class="form-control" name="hazard"   required>
          </div>
          <div class="form-group">
              <label>Address</label>
             <!-- <select (change)="addressChange()" class="form-control" name="address" #address="ngModel" [(ngModel)] = "callService.formData.address">
                  <option *ngFor="let item of settings.streets" [ngValue]="item.name">{{item.name}}</option>
              </select>-->
          </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-lg" type="submit">Report</button>
  </div>
</ng-template>
