<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" readonly style="border:none" class="form-control" id="incidentID" placeholder="ID">
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" id="indcidentType">
                      <option value="planned">Planned</option>
                      <option value="unplanned">Unplanned</option>
                    </select>
                  </div>          
                  <div class="form-group">
                    <label>Priority</label>
                    <input type="text" readonly style="border:none" id="indcidentPriority" class="form-control" placeholder="Priority">
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox" id="incidentConfirmed"> Confirmed
                    </label>
                  </div>
                  <div class="form-group">
                    <label>Status</label>
                    <input type="text" readonly style="border:none" id="incidentStatus" class="form-control" placeholder="Status">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="incidentDescription" placeholder="Add Description"></textarea>
                  </div>
                <div class="form-group">
                    <label>ETA</label>
                        <input class="form-control" style="border:none" id="incidentETA" type="datetime-local" readonly id="eta">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>ATA</label>
                        <input class="form-control" style="border:none" id="incidentATA" type="datetime-local" readonly id="eta">
                </div>
                <div class="form-group">
                    <label>Affected Customers</label>
                    <input type="text" readonly style="border:none" class="form-control" id="incidentAC" placeholder="Number">
                </div>
                <div class="form-group">
                    <label>Incident Time</label>
                        <input class="form-control" type="datetime-local" id="incidentTime" id="eta">
                </div>
                <div class="form-group">
                    <label>ETR</label>
                        <input class="form-control" style="border:none" type="datetime-local" id="incidentETR" readonly id="eta">
                </div>
                <div class="form-group">
                    <label>Number Of Calls</label>
                    <input type="text" readonly style="border:none" class="form-control" id="incidentCalls" placeholder="Number">
                </div>
                <div class="form-group">
                    <label>Voltage</label>
                    <input type="text" readonly style="border:none" class="form-control" id="incidentVoltage" placeholder="kV">
                </div>
                <div class="form-group">
                    <label>Work Beginning</label>
                        <input class="form-control" style="border:none" type="datetime-local" id="incidentBeginning" readonly id="eta">
                </div>
            </div>
        </div>
    </form>
</div>