<div class="container-fluid">
    <div class="row content">
        <div class="col">
            <h4 id="heding" class="">WORKPLANS</h4>
            <button class="btn btn-class" routerLink="/workplans/newworkplan">New&nbsp;<i class="fa fa-plus"></i></button>
            <!--
            <span class="allmine">
                <button style="width: 10%;" class="btn btn-class">All</button>
                <button  style="width: 10%;" class="btn btn-class">Mine</button>
            </span>
      
            <button style="width: 10%;"  id="filter" class="btn btn-class">Filter&nbsp;<i class="fa fa-filter"></i></button>  -->
            <table  id="incidentsTable"  mdbTableScroll [scrollX]='true' maxWidth="1000" class="table  table-hover">
                <thead>
                <tr>
                     <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[0]">Start date&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[1]">Phone number&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[2]" >Type&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[4]">Status&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[3]" >End date&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
                </thead>
             <tbody>
                <tr mdbTableCol *ngFor="let workplan of workplans | slice: (page - 1) * 5 : page * 5 ">
                    <td >{{workplan.startDate}}</td>
                    <td >{{workplan.phoneNum}}</td>
                    <td >{{workplan.type}}</td>
                    <td>{{workplan.status}}</td>
                    <td >{{workplan.endDate}}</td>
                    <button class="btn btn2-class"  (click)="approve(workplan.phoneNum!)">Approve&nbsp;<i class="fa fa-plus"></i></button>
                    <button class="btn btn2-class"  (click)="cancel(workplan.phoneNum!)">Cancel&nbsp;<i class="fa fa-plus"></i></button>
                </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>

        </div>

        </div>
    </div>

