<div class="container-fluid">
    <div class="row content">
        <div class="col">
            <h4 id="heding" class="">WORKPLANS</h4>
            <button class="btn btn-class" routerLink="/workplans/newworkplan">New&nbsp;<i class="fa fa-plus"></i></button>
            <span class="allmine">
                <button style="width: 10%;" class="btn btn-class" (click)="allWP()">All</button>
                <button  style="width: 10%;" class="btn btn-class" (click)="mineWP()">Mine</button>
            </span>
            <table  id="incidentsTable"  mdbTableScroll [scrollX]='true' maxWidth="1000" class="table  table-hover">
                <thead>
                <tr>
                     <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[0]">Start date&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[1]">Phone number&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[2]" >Type&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[3]">Status&nbsp;<i class="fa fa-sort"></i></th>
                     <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[4]" >Create&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[5]" >End date&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" aria-controls="workplansTable" [mdbTableSort]="workplans" [sortBy]="headElements[6]" >Crew&nbsp;<i class="fa fa-sort"></i></th>
                   
                </tr>
                </thead>
             <tbody>
                <tr mdbTableCol *ngFor="let workplan of workplans | slice: (page - 1) * 7 : page * 7 ">
                    <td >{{workplan.startDate}}</td>
                    <td >{{workplan.phoneNum}}</td>
                    <td >{{workplan.type}}</td>
                    <td>{{workplan.status}}</td>
                    <td> {{workplan.createdByUser}}</td>
                    <td >{{workplan.endDate}}</td>
                    <td >{{workplan.crew}}</td>
                    <button class="btn btn2-class"  (click)="approve(workplan.phoneNum!)">Approve&nbsp;<i class="fa fa-plus"></i></button>
                    <button class="btn btn2-class"  (click)="cancel(workplan.phoneNum!)">Cancel&nbsp;<i class="fa fa-plus"></i></button>
                </tr>
                </tbody>
                <tfoot>
                    <ngb-pagination
                    [(page)]="page"
                    [pageSize] = "pageSize"
                    [collectionSize]="workplans.length"
                  ></ngb-pagination>
                  </tfoot>
            </table>

        </div>

        </div>
    </div>

