<div class="container-fluid">
    <div class="row content">
      <div class="row">
        <h4 class="text-center">NEW INCIDENT</h4>
        <div class="col-md-4">
            <div class="list-group">
                <button  class="list-group-item" id="basicInfo">Basic Information</button>
                <button  class="list-group-item" id="devices" >Devices</button>
                <button  class="list-group-item" id="resolution">Resolution</button>
                <button  class="list-group-item" id="calls" >Calls</button>
                <button  class="list-group-item" id="crew">Crew</button>
                <button class="list-group-item" id="multimedia">Multimedia Attachments</button>
            </div>
        </div>
        <div class="col-md-8">
            <app-basic-information  (pressedButton)="setButton($event)" [hidden]="pressedButton != 'BasicInfo'"></app-basic-information>
            <app-devices (pressedButton)="setButton($event)" [hidden]="pressedButton != 'Devices'" ></app-devices>
            <app-resolution (pressedButton)="setButton($event)" [hidden]="pressedButton != 'Resolution' "></app-resolution>
            <app-calls  (pressedButton)="setButton($event)" [hidden]="pressedButton != 'Calls' "></app-calls>
            <app-incident-crew (pressedButton)="setButton($event)" [hidden]="pressedButton != 'Crew' "></app-incident-crew>
            <app-multimedia (pressedButton)="setButton($event)" [hidden]="pressedButton != 'Multimedia' "></app-multimedia>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
</div>
