@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.content{
    font-family: 'Poppins', sans-serif;
    margin: 8%;
    background-color: #fff;
    padding: 2rem 2rem 2rem 2rem; 
}





