<div class="page">
    <div>
      <table class="table table-dark">
        <thead class="thead-dark">
          <tr>
              <th scope="col">State</th>
              <th></th>
              <th scope="col">Date</th>
              <th></th>
              <th scope="col">ChangedBy</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let state of historyStates | slice: (page-1) * pageSize : page * pageSize">
          <td>{{state.newStatus}}</td>
          <td></td>
          <td>{{state.dateChange}}</td>
          <td></td>
          <td>{{state.changeBy}}</td>
        </tr>
      </tbody>
      </table>
    
      <br> <br>
    <div class="container__pagination">
      <ngb-pagination 
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="historyStates.length"></ngb-pagination>
      </div>
    </div>
    
    <div>
    <ng-container [formGroup]="form">
        <mat-card class="form-container">
        <div>
          <mat-card-title class="title">History of state changes</mat-card-title>
        </div>
        <div>
      
          <!-- Type -->
          <mat-form-field>
            <mat-select placeholder="Select state" formControlName="newStatus">
                <mat-option value="Approve">Approve</mat-option>
                <mat-option value="Deny">Deny</mat-option>
                <mat-option value="Cancel">Cancel</mat-option>
            </mat-select>
          </mat-form-field>
        
        
        </div>
        
        <div class="button">
            <button (click)="back()" class="btn btn-primary button">Back</button>
            <button (click)="save()" class="btn btn-primary button">Next</button>
        </div>
        </mat-card>
      </ng-container>
    </div>
    </div>