/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
 
body{
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-image: url('https://wallpapercave.com/wp/wp8063327.jpg');
    background-size: cover; 
    background-attachment: fixed;
}
