<div class="container" >
    <h2>Add Crew</h2>
    <form [formGroup]="crewForm" name="crew">
      <div class="form-group">
           
        <label> Name:  </label>
        <input class="form-control" type="text" formControlName="name" required>
   
      </div>
      <div class="form-group">
           
        <label> Id:  </label>
        <input class="form-control" type="text" formControlName="id">
   
      </div>
    </form>
  
    <table class="table table-blue">
      <thead class="thead-blue">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name </th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Type</th>
    
    
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of memberCrewUsers">
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.birthDate}}</td>
        <td>{{user.address}}</td>
        <td>{{user.inputState}}</td>
        <td><button class="btn btn-success" (click)="addCrewMember($event,user.username)">Add</button></td>
      </tr>
    </tbody>
    </table>
  
    <div class="form-group col align-self-center">
  
      <button type="submit" (click)="addCrew()" class="btn btn-primary button" [disabled]="crewForm.invalid">Add new crew</button>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h2>All Crews</h2>

    <table class="table table-blue">
      <thead class="thead-blue">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Members</th>
            
    
    
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allCrews">
        <td style="color: white;">{{user.id}}</td>
        <td style="color: white;">{{user.name}}</td>
        <td style="color: white;">{{user.crewMembers}}</td>
        <td><button (click)="deleteCrew(user.id)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
    </table>
  </div>
